streamlit
selenium
pandas
beautifulsoup4
bs4
requests
lxml
openpyxl 
google-genai
langdetect
tokencost
imagehash
pillow
opencv-python-headless
Google-Ads-Transparency-Scraper
pytesseract
selenium-wire
blinker
